<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Post Management</title>
  </head>
  <body>
    <header>
      <h1>Post Management</h1>
    </header>
    <div class="container">
      <form (submit)="onAddPost($event)">
        <input
          type="text"
          name="title"
          id="title"
          [formControl]="title"
          placeholder="Post Title"
          required
        />
        <textarea
          name="content"
          id="content"
          [formControl]="content"
          placeholder="Post content"
          required
        ></textarea>
        <input
          type="text"
          id="departmentCode"
          name="departmentCode"
          [formControl]="departmentCode"
          placeholder="Department Code"
          required
        />
        <button type="submit">Add Post</button>
      </form>
      <table>
        <thead>
          <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let post of posts">
            <td>{{ post.title }}</td>
            <td>{{ post.content }}</td>
            <td>
              <button>Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
